In [21]:
import pandas as pd
raw_data = pd.read_csv("Dublin.csv")
raw_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,44077,cosy comfortable Irish cottage twin,193005,Teresa,NaN,Dn Laoghaire-Rathdown,53.289950,-6.258130,Private room,50,3,227,2020-03-06,1.91,3,0
1,68483,Unique Central Dublin River-view,339817,John,NaN,Dublin City,53.345010,-6.265520,Entire home/apt,92,3,103,2019-08-12,0.87,1,43
2,85148,Habitación en Dublín Double room,466111,Don,NaN,South Dublin,53.301100,-6.319920,Private room,30,1,1,2019-05-11,0.05,1,348
3,85156,Cosy Comfortable Irish Cottage 1 Double Bed,193005,Teresa,NaN,Dn Laoghaire-Rathdown,53.291780,-6.256180,Private room,51,3,182,2020-03-09,1.56,3,114
4,121030,Comfy double room in central area 1,608225,Norah,NaN,Dublin City,53.336480,-6.220750,Private room,55,2,110,2019-03-19,0.95,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7889,47070049,The Grand Canal Dock Apartment,309533121,Colin,NaN,Dublin City,53.343100,-6.236810,Entire home/apt,98,1,0,NaN,NaN,5,331
7890,47070436,Lovely room in Dublin,16061592,Teresa,NaN,Dublin City,53.336300,-6.312720,Private room,35,7,0,NaN,NaN,1,54
7891,47072317,Double bedroom with private bathroom.,95429308,Rosemeire,NaN,Dn Laoghaire-Rathdown,53.286080,-6.137430,Private room,70,1,0,NaN,NaN,1,14
7892,47075305,The garden house,79418940,Tracey,NaN,Dublin City,53.366740,-6.229300,Entire home/apt,160,3,0,NaN,NaN,1,174
7893,47084650,Comfortable and conveniently located homely base.,4658355,Emmet,NaN,Dn Laoghaire-Rathdown,53.302903,-6.201889,Entire home/apt,100,5,0,NaN,NaN,1,14